{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron" style="margin-top: 2em;">
  <h1 class="display-4">About Random Password Generator</h1>
<!--  <p class="lead">Random Password Generator</p>-->
    <p style="color: red;">* Note: Do not use generated passwords as real passwords. This is just a simple project. * </p>
  <hr class="my-4">
    <h2 class="display-6" style="margin-bottom: 0.6em;"> How does the generator work? </h2>
  <p>This project utilizes the powers of the Python Programming Language. The backend of the website produces a completely randomly generator password that is displayed to the screen. Thank you for viewing this school project.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/random" role="button">Generate a Password!</a>
  </p>
</div>
{% endblock %}

