{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron" style="margin-top: 2em;">
  <h1 class="display-4">Input Specified Parameters</h1>
<!--  <p class="lead">Random Password Generator</p>-->
    <p style="color: red;">* Note: Do not use generated passwords as real passwords. This is just a simple project. * </p>
  <hr class="my-4">
  <p>This project utilizes the powers of the Python Programming Language. The backend of the website produces a completely randomly generator password that is displayed to the screen. Thank you for discovering this school project.</p>
    <p style="color: red;">{{ message }}</p>
    <p style="font-size: 20px"> <b> Input Specified Parameters: </b> </p>
    <form method="POST" action="/">
          <p>Input Length of Specified Password</p><input type="text" name="namequery" value=''>
          <div></div>
          <button type="submit" class="btn btn-primary" style="margin-top: 2em;"> Submit Parameters | Display Password</button>
    </form>
  <p class="lead">

  </p>

</div>
{% endblock %}

